/*Same color as placeholder*/
/* Modal section */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.modal {
  display: none;
  top: 2em;
  left: calc(50% - 288px);
  position: fixed;
  width: 576px;
  margin: 0 auto;
  background: #fcfcfc;
  border: 3px solid #1a1a1a;
  box-shadow: 6px 6px 0px #1a1a1a;
  z-index: 10;
  padding: 1em;
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 90%;
}
.modal .closeModal {
  position: absolute;
  right: 1em;
  top: 1em;
  width: 1.5em;
  height: 1.5em;
  border: 3px solid #1a1a1a;
  box-shadow: 3px 3px 0px #fdba31;
  text-align: center;
  margin: auto;
  cursor: pointer;
  z-index: 10;
  transition: box-shadow 0.2s ease-in-out;
}
.modal .closeModal:hover, .modal .closeModal:focus {
  box-shadow: -3px -3px 0px #f4724e;
}

.modal.positive {
  box-shadow: 6px 6px 0px #1fa95b;
}

.modal.negative {
  box-shadow: 6px 6px 0px #f4724e;
}

.backDrop.true {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #1a1a1a;
  z-index: 5;
  border-right: 3px solid #1a1a1a;
  opacity: 0.9;
}

.backDrop.true ~ .modal {
  display: block;
  position: fixed;
}

@media screen and (max-width: 576px) {
  .modal {
    width: 90%;
    height: 90%;
    left: 5%;
  }
}
.modalBody {
  text-align: justify;
}

.modalFooter {
  text-align: center;
  display: none;
}

* {
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  font-size: medium;
  font-weight: 400;
  line-height: 1.3;
  word-break: break-word;
}

body {
  margin: 0;
}

a:focus,
button:focus,
input:focus,
textarea:focus,
select:focus {
  outline: none;
}

select {
  appearance: none;
  color: #757575;
}

li {
  list-style: none;
}

.select {
  position: relative;
  display: block;
}
.select::before {
  content: "V";
  font-weight: 900;
  position: absolute;
  width: 1.1em;
  height: 1.1em;
  text-align: center;
  border: 3px solid #1a1a1a;
  bottom: calc(0.65em + 3px);
  right: calc(0.65em + 3px);
  box-shadow: 3px 3px 0px #fdba31;
  background: #fcfcfc;
}

a {
  text-decoration: none;
  cursor: pointer;
}

::selection {
  color: #fdba31;
  background: #620097;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #fdba31;
}

::-webkit-scrollbar-thumb {
  background: #620097;
}

/* tittle */
.titleAlternative::after, .titleSecondary::after, .titlePrimary::after {
  content: "";
  display: inline-block;
  border-bottom: 3px solid #fdba31;
  position: absolute;
  width: 2rem;
  left: 1rem;
  bottom: 0.1em;
  text-transform: uppercase;
}

.titleAlternative, .titleSecondary, .titlePrimary {
  text-transform: uppercase;
  color: #1a1a1a;
  display: block;
  position: relative;
  font-weight: 500;
}
.titlePrimary {
  font-size: xx-large;
}

.titleSecondary {
  font-size: x-large;
}

.titleAlternative {
  font-size: xx-large;
  color: #620097;
}
.titleAlternative::after {
  border-bottom: 3px solid #1a1a1a;
}

/* inputs */
.inputAlternative, .inputSecondary, .inputPrimary {
  font-size: x-large;
  display: block;
  margin: 0.5em auto 0;
  padding: 0 0.5em;
  border: 3px solid #1a1a1a;
  box-shadow: 3px 3px 0px #fdba31;
  background: #fcfcfc;
  transform-origin: 0% center, 100% left;
  transition: box-shadow 0.5s ease-in-out;
}
.inputAlternative:focus, .inputSecondary:focus, .inputPrimary:focus {
  transition: box-shadow 0.5s ease-in-out;
  box-shadow: -3px -3px 0px #fdba31;
}

.inputPrimary {
  height: 2em;
  width: calc(100% - 3px);
}

.inputSecondary {
  height: 1.5em;
  font-size: larger;
  width: calc(100% - 3px);
}

.inputAlternative {
  height: 1.2em;
  padding: 1em 0.5em;
  display: inline-block;
  font-size: medium;
  background: #fcfcfc;
  font-weight: 700;
  border: 3px solid #1a1a1a;
}

.checkBoxGroup {
  display: block;
  position: relative;
  padding-left: 1.75em;
  margin: 0.5em auto;
  cursor: pointer;
  user-select: none;
  width: calc(100% - 3px);
}
.checkBoxGroup:hover .checkBox ~ .checkMark {
  background-color: #fcfcfc;
}
.checkBoxGroup > * {
  margin: auto;
}
.checkBoxGroup .checkBox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  margin-right: 1.5em;
}
.checkBoxGroup .checkBox:checked ~ .checkMark {
  background-color: #1fa95b;
}
.checkBoxGroup .checkBox:checked ~ .checkMark::after {
  display: block;
}
.checkBoxGroup .checkMark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.2em;
  width: 1.2em;
  background-color: #fcfcfc;
  border: 3px solid #1a1a1a;
  box-shadow: 3px 3px 0px #fdba31;
  transition: box-shadow 0.5s ease-in-out;
}
.checkBoxGroup .checkMark:hover, .checkBoxGroup .checkMark:focus {
  box-shadow: -3px -3px 0px #fdba31;
}
.checkBoxGroup .checkMark::after {
  content: "";
  position: absolute;
  display: none;
  left: 6px;
  top: 0px;
  width: 5px;
  height: 10px;
  border: solid #fcfcfc;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.linkAlternative, .linkSecondary, .linkPrimary {
  text-decoration: none;
  font-weight: 500;
  color: #620097;
}
.linkAlternative:hover, .linkSecondary:hover, .linkPrimary:hover, .linkAlternative:focus, .linkSecondary:focus, .linkPrimary:focus {
  border-bottom: 3px solid #620097;
}

.linkSecondary {
  font-size: small;
}
.linkSecondary:hover, .linkSecondary:focus {
  border-bottom: 3px solid #fdba31;
}

.linkAlternative {
  color: #fdba31;
}
.linkAlternative:hover {
  border-bottom: 3px solid #fdba31;
}

/* button */
.buttonAlternative, .buttonSecondary, .buttonPrimary, .buttonDanger, .buttonNegative, .buttonPositive {
  text-transform: uppercase;
  border: none;
  box-shadow: 3px 3px 0px #fdba31;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  margin: 0.5em auto 0;
  padding: 0.25em 0em;
  text-align: center;
  color: #fcfcfc;
  background: #620097;
  transition: box-shadow 0.5s ease-in-out;
}
.buttonAlternative:focus, .buttonSecondary:focus, .buttonPrimary:focus, .buttonDanger:focus, .buttonNegative:focus, .buttonPositive:focus, .buttonAlternative:hover, .buttonSecondary:hover, .buttonPrimary:hover, .buttonDanger:hover, .buttonNegative:hover, .buttonPositive:hover {
  transition: box-shadow 0.5s ease-in-out;
  box-shadow: -3px -3px 0px #fdba31;
}

.buttonDanger, .buttonNegative, .buttonPositive {
  background: #fcfcfc;
  min-width: 15em;
  font-weight: 500;
  border: 3px solid #1a1a1a;
  margin-inline: 3px;
}
.buttonDanger:focus, .buttonNegative:focus, .buttonPositive:focus, .buttonDanger:hover, .buttonNegative:hover, .buttonPositive:hover {
  transition: box-shadow 0.5s ease-in-out;
  box-shadow: -3px -3px 0px;
}

.buttonPositive {
  color: #1fa95b;
  box-shadow: 3px 3px 0px #1fa95b;
}

.buttonNegative {
  color: #f4724e;
  box-shadow: 3px 3px 0px #f4724e;
}

.buttonDanger {
  color: #fcfcfc;
  background: #f4724e;
  box-shadow: 3px 3px 0px #1a1a1a;
}
.buttonDanger:focus, .buttonDanger:hover {
  transition: box-shadow 0.5s ease-in-out;
  box-shadow: -3px -3px 0px #1a1a1a;
}

.buttonAlternative::before, .buttonSecondary::before, .buttonPrimary::before, .buttonPositive::before, .buttonNegative::before, .buttonDanger::before {
  content: "> ";
  opacity: 0;
}
.buttonAlternative::after, .buttonSecondary::after, .buttonPrimary::after, .buttonPositive::after, .buttonNegative::after, .buttonDanger::after {
  content: " <";
  opacity: 0;
}
.buttonAlternative:hover::after, .buttonSecondary:hover::after, .buttonPrimary:hover::after, .buttonPositive:hover::after, .buttonNegative:hover::after, .buttonDanger:hover::after, .buttonAlternative:hover::before, .buttonSecondary:hover::before, .buttonPrimary:hover::before, .buttonPositive:hover::before, .buttonNegative:hover::before, .buttonDanger:hover::before, .buttonAlternative:focus::after, .buttonSecondary:focus::after, .buttonPrimary:focus::after, .buttonPositive:focus::after, .buttonNegative:focus::after, .buttonDanger:focus::after, .buttonAlternative:focus::before, .buttonSecondary:focus::before, .buttonPrimary:focus::before, .buttonPositive:focus::before, .buttonNegative:focus::before, .buttonDanger:focus::before {
  opacity: 1;
  transition: opacity 0.2s ease-in;
}

.buttonPrimary {
  font-size: xx-large;
  display: block;
  width: calc(100% - 3px);
}
.buttonPrimary:active::before {
  content: ">";
}
.buttonPrimary:active::after {
  content: "<";
}

.buttonSecondary {
  font-size: large;
  padding: 0.5em 1em;
  font-weight: 500;
}

.buttonAlternative {
  font-size: large;
  padding: 0.5em 1em;
  font-weight: 500;
  background: #fdba31;
  color: #620097;
  box-shadow: 3px 3px 0px #620097;
}
.buttonAlternative:hover {
  box-shadow: -3px -3px 0px #620097;
}

hr {
  background: #620097;
  margin: 1em auto;
  border: 2px solid #620097;
  box-shadow: 3px 3px 0px #fdba31;
}

.textSecondary, .textPrimary {
  color: #1a1a1a;
}

.textPreserve {
  white-space: pre-line;
}

.textPrimary {
  font-weight: 400;
}

.textSecondary {
  font-weight: 300;
}

.textAlternative {
  font-size: small;
  font-weight: 500;
  margin: 0.2em auto;
}

@media screen and (max-width: 150px) {
  html > * {
    display: none;
  }

  html::after {
    content: "Really?! Less than 150 pixels!";
  }
}
/*# sourceMappingURL=index.css.map */
.navbar {
  width: 100%;
  top: 0;
  background-color: #620097;
  display: flex;
  justify-content: space-between;
  padding: 0.7em;
  flex-wrap: wrap;
  border-bottom: 3px solid #fdba31;
  flex-grow: 1;
  z-index: 2;
}
.navbar .logo {
  height: 2.5em;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 576px) {
  .navbar .logo {
    height: 2em;
    padding: 0.25em;
  }
}
.navbar .userNav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1em;
  flex-wrap: wrap;
  cursor: pointer;
}
.navbar .userNav .userName {
  color: #fcfcfc;
  font-size: x-large;
}
.navbar .userNav .userName::after {
  content: " _";
}
.navbar .userNav .userAvatar {
  background-color: #fdba31;
  aspect-ratio: 1;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  border: 3px solid #1a1a1a;
}

/* The side navigation menu */
.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  right: -3px;
  background-color: #fcfcfc;
  border-left: 3px solid #fdba31;
  box-sizing: border-box;
  overflow-x: hidden;
  /* Disable horizontal scroll */
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
  padding-top: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidenav * {
  word-break: normal;
}
.sidenav hr {
  width: calc(100% - 18px);
  margin: 0;
}
.sidenav .sidenavHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidenav .sidenavHeader .sidenavUserAvatar {
  background-color: #fdba31;
  aspect-ratio: 1;
  width: 10em;
  border-radius: 50%;
  border: 3px solid #1a1a1a;
}
.sidenav .sidenavHeader .sidenavUserNome {
  font-size: xx-large;
}
.sidenav .sidenavBody {
  width: calc(100% - 18px);
}
.sidenav .sidenavBody .buttonNavRegular, .sidenav .sidenavBody .buttonNavMain {
  padding: 0.2em;
  border: 3px solid #1a1a1a;
  box-shadow: 3px 3px 0px #1a1a1a;
  font-size: x-large;
  text-align: center;
  text-decoration: none;
  margin: 0.5em auto;
  color: #1a1a1a;
  display: block;
  width: 100%;
  transition: box-shadow 0.5s ease-in-out;
}
.sidenav .sidenavBody .buttonNavRegular:focus, .sidenav .sidenavBody .buttonNavMain:focus, .sidenav .sidenavBody .buttonNavRegular:hover, .sidenav .sidenavBody .buttonNavMain:hover {
  transition: box-shadow 0.5s ease-in-out;
  box-shadow: -3px -3px 0px #1a1a1a;
}
.sidenav .sidenavBody .buttonNavMain {
  background-color: #620097;
  color: #fcfcfc;
  padding: 0.5em;
}
.sidenav .sidenavBody .buttonNavRegular {
  box-shadow: 3px 3px 0px #1a1a1a;
}
.sidenav .sidenavBody .buttonNavRegular:hover {
  box-shadow: -3px -3px 0px #1a1a1a;
}
.sidenav .closeButton {
  background-color: #fcfcfc;
  position: absolute;
  cursor: pointer;
  right: 1em;
  top: 1em;
  width: 2.5em;
  height: 2.5em;
  border: 3px solid #1a1a1a;
  box-shadow: 3px 3px 0px #fdba31;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: box-shadow 0.5s ease-in-out;
}
.sidenav .closeButton:focus, .sidenav .closeButton:hover {
  transition: box-shadow 0.5s ease-in-out;
  box-shadow: -3px -3px 0px #fdba31;
}
.sidenav .logoutButton {
  padding: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
  height: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentSmall {
  background-color: #fcfcfc;
  margin: 15em auto 2em;
  width: 1200px;
  box-sizing: border-box;
  padding: 1em;
  border: 3px solid #1a1a1a;
  box-shadow: 3px 3px 0px #1a1a1a;
  transition: margin 0.5s ease-in-out;
}

.imputSearch {
  position: relative;
}
.imputSearch #listVagas {
  display: none;
  position: absolute;
  background-color: #fcfcfc;
  border: 3px solid #1a1a1a;
  box-sizing: border-box;
  margin-inline: 0.1em;
  width: calc(100% - 3px);
  align-items: center;
  overflow-y: scroll;
  max-height: calc(19.5em + 6px);
}
.imputSearch #listVagas .listItem {
  display: block;
  word-break: break-all;
  overflow-y: hidden;
  box-sizing: border-box;
  padding-inline: 0.5em;
  height: 1.3em;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.imputSearch #listVagas .listItem:first-child {
  font-weight: 900;
}
.imputSearch #listVagas .listItem:hover {
  background-color: #c4c4c4;
}
@media screen and (max-width: 768px) {
  .imputSearch #listVagas .listItem:hover {
    animation: marquee 5s linear infinite alternate;
    background-color: #fcfcfc;
  }
  @keyframes marquee {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: -50%;
    }
  }
}
.imputSearch #listVagas a {
  text-decoration: none;
  color: #1a1a1a;
}

.vagaTitle {
  display: grid;
  gap: 0.25em 0.5em;
  grid-template-areas: "thumb title title" "thumb main main" "thumb local  publicacao";
  grid-template-columns: 10em 1fr auto;
  grid-template-rows: auto 1fr auto;
}
.vagaTitle .vagaThumbEmpresa {
  grid-area: thumb;
  display: flex;
  align-items: center;
  justify-content: center;
}
.vagaTitle .vagaThumbEmpresa img {
  min-width: min(10em, 90%);
  width: 10em;
  object-fit: cover;
  aspect-ratio: 1;
  box-shadow: 3px 3px 0px #fdba31;
}
.vagaTitle .vagaEmpresa {
  grid-area: title;
  display: flex;
  align-items: flex-start;
}
.vagaTitle .vagaMain {
  grid-area: main;
  display: flex;
  align-items: center;
}
.vagaTitle .vagaLocal {
  grid-area: local;
  display: flex;
  align-items: end;
}
.vagaTitle .vagaPublicacao {
  grid-area: publicacao;
  text-align: end;
  display: flex;
  align-items: end;
  justify-content: flex-end;
}

@media screen and (max-width: 576px) {
  .vagaTitle {
    grid-template-areas: "thumb" "title" "main" "local" "publicacao";
    grid-template-columns: 1fr;
  }
  .vagaTitle .vagaThumbEmpresa {
    aspect-ratio: auto;
    text-align: center;
  }
  .vagaTitle .vagaThumbEmpresa img {
    width: 50%;
    object-fit: scale-down;
    margin-bottom: 0.5em;
  }
  .vagaTitle .vagaPublicacao {
    justify-content: flex-start;
  }
}
.vagaFooter {
  display: flex;
  align-items: center;
}
.vagaFooter .inscreverSe {
  text-align: center;
}

.cards {
  grid-template-columns: repeat(5, 1fr);
  gap: 1em;
  display: grid;
}
@media screen and (max-width: 1400px) {
  .cards {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 1200px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 992px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 576px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
.cards .cardVaga {
  border: 3px solid #1a1a1a;
  box-shadow: 3px 3px 0px #c4c4c4;
}
.cards .cardVaga > *:not(hr, .tagsVaga) {
  padding: 1em 0.5em;
}
.cards .cardVaga hr {
  width: calc(100% - 30px);
  margin: 0 auto;
}
.cards .cardVaga .cardTitle {
  padding: 1em;
  display: flex;
  align-items: center;
  border-bottom: 3px solid #1a1a1a;
}
.cards .cardVaga .cardTitle img {
  width: 5em;
  box-shadow: 3px 3px 0px #1a1a1a;
}
.cards .cardVaga .cardTitle .cardNomeEmpresa {
  margin-left: 0.5em;
}
.cards .cardVaga .cardSub > * {
  display: block;
}
.cards .cardVaga .cardSub .cardCargo {
  font-size: x-large;
}
.cards .cardVaga .cardSub .cardLocal {
  font-size: large;
}
.cards .cardVaga .tagsVaga {
  padding-inline: 0.5em;
}
.cards .cardVaga .cardBody {
  text-align: justify;
}
.cards .cardVaga .cardBody .cardText {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.cards .cardVaga .cardButton {
  text-align: center;
  margin: 0.5em auto;
}
.cards .cardVaga .cardFooter {
  padding: 0.25em 0.75em;
  text-align: end;
}

body {
  background-color: #fcfcfc;
}

#backdrop {
  display: none;
  position: absolute;
  background-color: #1a1a1a;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  opacity: 0.5;
}

.content {
  background-color: #fcfcfc;
  margin: 2em auto;
  width: 1400px;
  box-sizing: border-box;
  padding: 1em;
  border: 3px solid #1a1a1a;
  box-shadow: 3px 3px 0px #1a1a1a;
}

@media screen and (max-width: 1400px) {
  .content {
    width: 1200px;
  }

  .contentSmall {
    width: 992px;
  }
}
@media screen and (max-width: 1200px) {
  .content {
    width: 992px;
  }

  .contentSmall {
    width: 768px;
  }
}
@media screen and (max-width: 992px) {
  .content {
    width: 768px;
  }

  .contentSmall {
    width: 576px;
  }
}
@media screen and (max-width: 768px) {
  .content {
    width: 576px;
  }

  .contentSmall {
    width: 576px;
  }
}
@media screen and (max-width: 576px) {
  .content,
.contentSmall {
    width: calc(100vw - 1em);
  }

  .contentSmall {
    margin-top: 2em;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navbar .userNav {
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-wrap: nowrap;
  }
}
.tagsVaga {
  text-align: end;
  margin: 0.25em;
}

.descricaoVaga {
  text-align: justify;
  margin: 1em auto;
}

.tag {
  font-size: small;
  background-color: #fdba31;
  display: inline-block;
  margin: 0.25em;
  padding: 0.5em;
  color: #1a1a1a;
  font-weight: 500;
  box-shadow: 3px 3px 0px #620097;
  box-sizing: border-box;
  cursor: pointer;
  transition: box-shadow 0.2s ease-in-out;
}
.tag:hover, .tag:focus {
  box-shadow: -3px -3px 0px #620097;
}

/*# sourceMappingURL=home.css.map */
