$thickness: 3px;

$xs: 370px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

$primary: #620097;
$highlight: #fdba31;

$negative: #f4724e;
$positive: #1fa95b;

$white: #fcfcfc;
$gray: #c4c4c4;
$dark: #757575; /*Same color as placeholder*/
$black: #1a1a1a;

$fast: .2s;
$slow: .5s;