@import "styles";

body {
  background: $primary;
  display: flex;
  justify-content: flex-start;
  background-image: url("../assets/meninos4_.jpg");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: right top;
  background-attachment: fixed;
}

.filter {
  position: absolute;
  background-color: $primary;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 0;
  opacity: 0.5;
}

.container {
  padding: 1em;
  width: $xs;
  background: $white;
  height: 100vh;
  z-index: 1;
  border-right: $thickness solid $black;
}

.headerLogin {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.logo {
  margin: 0.5em auto;
}

.gridSelecao {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1em;
  margin: 0.5em auto;
  text-align: center;
  a {
    color: $black;
  }

  .selecaoOpcao {
    border: $thickness solid $black;
    padding: 0.4em;
    box-shadow: $thickness $thickness $highlight;

    cursor: pointer;
    transition: box-shadow $slow ease-in-out, transform $fast ease-in-out;

    &:hover {
      box-shadow: calc($thickness * -1) calc($thickness * -1) $highlight;
      transform: scale(1.1, 1.1);
    }

    .icon {
      color: $primary;
      font-size: 3em;
      margin: 0.2em;
    }
  }
}

@media screen and (max-width: $sm) {
  body {
    justify-content: center;
    background: $white;
  }

  .filter {
    display: none;
  }

  .container {
    width: 100%;
    border: none;
    height: auto;
  }
}
